html{
    margin: auto;
}

h1, h2{
    text-align: center;
    font-palette: light;
}

th{
    background: black !important;
}

.title{
    text-align: center;
    background: white !important;
}

a{
    color: black !important;
}

.centro{
    margin: 4rem;
}

li{
    font-size: x-large;
}