html{
    margin: auto;
}

h1, h2{
    text-align: center;
    font-palette: light;
}

table{
    border-bottom-width: thick !important;
}

th{
    background: black !important;
    text-shadow: #bbccdd;
    border-bottom-width: thick !important;
    color: white;
}

.title{
    text-align: center;
    background: white !important;
}

a{
    color: black !important;
}

.centro{
    margin: 4rem;
}

li{
    font-size: x-large;
}