<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Trámites y Servicios</title>

    <style>
    .title {
        text-align: center;
    }
    </style>
</head>
<body>

<h1 class="title">Ficha para revisión</h1>
<h2 class="title">Registro municipal de trámites y servicios</h2>
<h3>Secretaría</h3>
<h3>Dirección</h3>

<h3 class="title"> Sección 1 Datos Generales </h3>
<h3 class="title"> Nombre del trámite </h3>

<table>
    <tr>
        <th>Homoclave</th>
        <th> Tipo</th>
        <th>Tipo de trámite</th>
        <th>Dependencia</th>
        <th>Unidad Administrativa</th>
        <th> Nivel de gobierno </th>
        <th> Descripción </th>
        <th> Modalidad </th>
    </tr>

    <tr>
        <td>{{ DatoGeneral.homoclave }}</td>
        <td>{{ DatoGeneral.nombre_tramite }}</td>
        <td>{{ DatoGeneral.tipo}}</td>
        <td>{{ DatoGeneral.tipo_tramite}}</td>
        <td>{{ DatoGeneral.unidad_administrativa}}</td>
        <td>{{ DatoGeneral.nivel_gobierno}}</td>
        <td>{{ DatoGeneral.descripcion}}</td>
        <td>{{ DatoGeneral.modalidad}}</td>
    </tr>

</table>

    <h3 class="title"> Sección 2 Requisito </h3>


<table>
    <tr>
        <th>Nombre del requisito</th>
        <th> Original o copia</th>
        <th> Descripción</th>
        <th>Forma parte del formato</th>
        <th>Naturaleza</th>
        <th> Tiempo promedio en conseguir el requisito para su presentación (días)  </th>
        <th> ¿Es necesario alguna firma, validación, certificación, autorización o visto bueno de un tercero? </th>
        <th> Nombre de la empresa o persona que lo emite </th>
        <th> ¿El requisito solicitado es un trámite que se debe realizar con alguna dependencia gubernamental?</th>
        <th> Nombre de la dependencia, ubicación y medios de contacto </th>

    </tr>

    <tr>
        <td>{{ DatoGeneral.nombre_requisito}}</td>
        <td>{{ DatoGeneral.original_copia }}</td>
        <td>{{ DatoGeneral.descripcion}}</td>
        <td>{{ DatoGeneral.formato}}</td>
        <td>{{ DatoGeneral.naturaleza}}</td>
        <td>{{ DatoGeneral.tiempo_promedio}}</td>
        <td>{{ DatoGeneral.firma_validacion}}</td>
        <td>{{ DatoGeneral.persona_emite}}</td>
        <td>{{ DatoGeneral.requisito_solicitado}}</td>
        <td>{{ DatoGeneral.nombre_dependencia}}</td>
    </tr>
</table>


<h3 class="title"> Sección 3 Formato </h3>
<table>
    <tr>
        <th>Nombre del formato</th>
        <th> Número identificador del formato</th>
    </tr>

    <tr>
        <td>{{ DatoGeneral.nombre_formato }}</td>
        <td>{{ DatoGeneral.numero_identificador}}</td>
    </tr>
</table>


    <h3 class="title"> Sección 4 Pasos </h3>


<table>
    <tr>
        <th>Pasos</th>
        <th> Modalidades</th>
    </tr>

    <tr>
        <td>{{DatoGeneral.pasos }}</td>
        <td>{{DatoGeneral.modalidades}}</td>

    </tr>
    </table>


 <h3 class="title"> Sección 5 Cita </h3>


<table>
    <tr>
        <th>¿Es obligatorio agendar una cita?</th>
        <th>¿Se puede agendar una cita?</th>
         <th>Medio para solicitar la cita</th>
    </tr>

    <tr>
        <td>{{DatoGeneral.agendar_cita }}</td>
        <td>{{DatoGeneral.realizar_tramite}}</td>
        <td>{{DatoGeneral.medio_cita}}</td>
    </tr>
    </table>


<h3 class="title"> Sección 6 Costos</h3>


<table>
    <tr>
        <th>Monto</th>
        <th>Moneda en la que se realizó el pago</th>
         <th>Metodología utilizada para el cálculo del monto</th>
        <th>¿En dónde puedo realizar el pago?</th>
        <th>Forma de pago</th>
        <th>Etapa del trámite o servicio en que se realiza o se puede realizar el trámite</th>
        <th>Vigencia de la línea de captura para realizar el pago en caso de requerirla</th>
    </tr>

    <tr>
        <td>{{DatoGeneral.monto }}</td>
        <td>{{DatoGeneral.moneda_pago}}</td>
        <td>{{DatoGeneral.metodologia_pago}}</td>
        <td>{{DatoGeneral.realizar_pago}}</td>
        <td>{{DatoGeneral.forma_pago}}</td>
        <td>{{DatoGeneral.etapa_tramite}}</td>
         <td>{{DatoGeneral.vigencia_pago}}</td>

    </tr>
    </table>

<h3 class="title"> Sección 7 Tiempos</h3>


<table>
    <tr>
        <th>Tiempo que tiene la dependencia para resolver</th>
        <th>Plazo que tiene la dependencia para prevenir</th>
        <th>Plazo que tiene el usuario para responder la prevención</th>
        <th>Derecho del usuario ante la falta de respuesta</th>
    </tr>

    <tr>
        <td>{{DatoGeneral.tiempo_resolucion }}</td>
        <td>{{DatoGeneral.plazo_prevenir}}</td>
        <td>{{DatoGeneral.plazo_responder}}</td>
        <td>{{DatoGeneral.derecho_respuesta}}</td>
    </tr>
    </table>

<h3 class="title"> Sección 8 Vigencia</h3>


<table>
    <tr>
        <th>Tipo de resolución</th>
        <th>Vigencia</th>

    </tr>

    <tr>
        <td>{{DatoGeneral.tipo_resolucion}}</td>
        <td>{{DatoGeneral.vigencia}}</td>
    </tr>
    </table>


<h3 class="title"> Sección 9 Solicitante</h3>

<table>
    <tr>
        <th>¿Quién puede solicitarlo? </th>
        <th>¿Para qué sirve realizar este trámite?</th>
        <th>¿En qué caso se debe solicitar el trámite o servicio?</th>
        <th>Actividad económica que está vinculada al trámite o servicio</th>
        <th>Detalle</th>
        <th>Subsector</th>
        <th>Rama</th>
        <th>Subrama</th>
        <th>Clase</th>
        <th>La resolución de este trámite está vinculada con la presentación de otros trámites</th>
        <th>Liga del trámite con que está vincualdo</th>
        <th>La resolución es requisito de otro trámite</th>
        <th>Liga de la resolución del trámite</th>
    </tr>

    <tr>
        <td>{{DatoGeneral.persona_solicitante}}</td>
        <td>{{DatoGeneral.funcionalidad_tramite}}</td>
        <td>{{DatoGeneral.caso_solicitud}}</td>
        <td>{{DatoGeneral.actividad_economica}}</td>
        <td>{{DatoGeneral.detalle}}</td>
        <td>{{DatoGeneral.subsector}}</td>
        <td>{{DatoGeneral.rama}}</td>
        <td>{{DatoGeneral.subrama}}</td>
        <td>{{DatoGeneral.clase}}</td>
        <td>{{DatoGeneral.resolucion}}</td>
        <td>{{DatoGeneral.liga_tramite}}</td>
        <td>{{DatoGeneral.resolucion_requisito}}</td>
        <td>{{DatoGeneral.liga_resolucion}}</td>

    </tr>
    </table>


<h3 class="title"> Sección 10 DatoGenerals del responsable de la resolución</h3>

<table>
    <tr>
        <th>Responsable del trámite o servicio</th>
        <th>Nombre</th>
        <th>Rol del funcionario</th>
        <th>Cargo</th>
        <th>Correo electrónico</th>
        <th>Otro</th>
        <th>Teléfono</th>
        <th>Extensión</th>
        <th>DatoGenerals de la oficina del responsable del trámite</th>
        <th>Órgano interno de control</th>
        <th>DatoGenerals de contacto para quejas y denuncias</th>

    </tr>

    <tr>
        <td>{{DatoGeneral.responsable_tramite}}</td>
        <td>{{DatoGeneral.nombre}}</td>
        <td>{{DatoGeneral.rol_funcionario}}</td>
        <td>{{DatoGeneral.cargo}}</td>
        <td>{{DatoGeneral.correo_electronico}}</td>
        <td>{{DatoGeneral.otro}}</td>
        <td>{{DatoGeneral.telefono}}</td>
        <td>{{DatoGeneral.extension}}</td>
        <td>{{DatoGeneral.DatoGenerals_responsable}}</td>
        <td>{{DatoGeneral.organo}}</td>
        <td>{{DatoGeneral.quejas_denuncias}}</td>
    </tr>
    </table>

</body>
</html>