{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trámites y Servicios</title>
    <link rel="stylesheet", href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>


<body>
<div class="centro">

<h1 class="title">Ficha para revisión</h1>
<h2 class="title">Registro municipal de trámites y servicios</h2>


<table class="table table-bordered">

        <tr>
            <th> Homoclave </th>
             <th> Nombre </th>
        </tr>

        <tr>
            {% for item in object_list %}
                <td><a href="/tramites/{{item.pk}}">{{ item.homoclave }}</a></td>
                <td>{{ item.nombre_tramite }}</td>
        </tr>
    {% endfor %}

</table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

   </div>

</body>
</html>